/* src/components/SearchBar/SearchBar.css */
.search-bar {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.search-bar input {
  flex: 1;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-bar button {
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  background-color: #ff851b; 
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #ff7700;
}

/* 모바일 대응 */
@media (max-width: 768px) {
  .search-bar input {
    font-size: 14px;
    padding: 10px;
  }
  .search-bar button {
    font-size: 14px;
    padding: 10px 15px;
  }
}
