/* src/components/Slider/Slider.css */
.slider {
    overflow: hidden;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
}

.slider-track {
    display: flex;
    animation: scroll 20s linear infinite;
}

.slide {
    min-width: 25%; 
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slide img {
    width: 100%; 
    height: auto;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.slide img:hover {
    transform: scale(1.05);
}

.slide-name {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    width: 90%; 
}

/* 모바일 대응: 슬라이드 크기 조정 */
@media (max-width: 768px) {
    .slide {
        min-width: 100%; /* 한 번에 한 장씩 */
    }
    .slide-name {
        font-size: 12px;
    }
}
